img{
    width: 63%;
    height: 42%;
    border: 2px solid var(--color);
    border-radius: 5px;
}
img:hover{
    cursor: pointer;
}
.p-img{
    font-size:small;
    margin: 0%;
    padding: 0%;
}
@media (max-width: 600px){
    img{
        width: 99%;
        height: 66%;
    }
}