:root {
    --background-color: #2c2c2c;
    --color: #FFC90E;
    
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--color);
    text-align: center;
    line-height: 1.6;
    
}

::selection {
    background-color: var(--color);
    color: var(--background-color);
}
h1 {
    padding: 5%;
    letter-spacing: 5px;
}
p{
    padding: 5% 10% 5% 10%;
    margin-left: 5% ;
    margin-right: 5% ;
}
.top{
    padding-bottom: 0%;

}
.law{
    background-color: #373737;
    padding: 2% 10% 2% 10%;
    margin: 0%;
}
.bottom{
    padding-top: 0%;
}
.frist{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 2.5rem;
    letter-spacing: 5px;
    color: var(--color);
    text-decoration: none;
    border: 2px solid var(--color);
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
.frist:hover{
    background-color: var(--color);
    color: var(--background-color);
}
.button-container {
    display: grid;
    gap: 10px;
    margin: 20px auto;
    padding: 10px;
    max-width: 80%;
}

a{
    color: var(--color);
    text-decoration: none;
}
.button-body a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 1.5rem;
    color: var(--color);
    text-decoration: none;
    border: 2px solid var(--color);
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
.button-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 1.5rem;
    color: var(--color);
    text-decoration: none;
    border: 2px solid var(--color);
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
.button-container a:hover {
    background-color: var(--color);
    color: var(--background-color);
}
hr{
    color: #FFC90E;
}
@media (min-width: 951px) {
    h1{
        font-size: 4em;
    }
    .button-container {
        grid-template-columns: repeat(4, 1fr);
    }

    p{
        font-size: 25px;
    }
}
@media (min-width: 801px) and (max-width: 950px) {
    h1{
        font-size: 3em;
    }
    .button-container {
        grid-template-columns: repeat(3, 1fr);
    }

    p{
        font-size: 25px;
    }
}
@media (min-width: 601px) and (max-width: 800px) {
    h1{
        font-size: 2.5em;
    }
    .button-container {
        grid-template-columns: repeat(3, 1fr);
    }
    p{
        font-size: 20px;
    }
}
@media (max-width: 600px) {
    .button-container {
        grid-template-columns: repeat(1, 1fr);
    }
    p{
        font-size: 18px;
    }
    .frist{
        margin-bottom: 10%;
    }
}